doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Second Express application
        link(rel='stylesheet', href='styles/style.css')
    body
        main
            h1 Second Express application
            form(method='POST' action='/')
                label(for='name') Give your name
                input(name='name')
                br
                input(type='submit')
                input(type='reset')
            img(src='img/angry_cat.webp', alt='Angry cat')
            table
                thead
                    th Nazwisko
                    th Imię
                    th Wydział
                each student in students 
                    tr
                        td= student.lname
                        td= student.fname
                        if student.faculty
                            td= student.faculty