doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Second Express application
    body
        main
            h1 Second Express application
            form(method='POST' action='/')
                label(for='name') Give your name
                input(name='name')
                br
                input(type='submit')
                input(type='reset')
            img(src='img/angry_cat.webp', alt='Angry cat')
            table(style="border: 2px solid #000; width: 400px; height: 130px")
                thead(style="background-color: #4CAF50; color: white;")
                    th(style="width: 50%;") Nazwisko
                    th Imię
                each student in students 
                    tr(style="text-align:center;")
                        td= student.lname
                        td= student.fname